#header{
	position: center
	border-radius: 15px;
    margin:20px;
	}
#outerDiv{
	positoin:center;
	border-radius: 15px;
    margin:20px;
}
#bigDiv{
    position: relative;
	margin:20px;
}
#maze{
    position: absolute;	
} 
#canvas1{
    position: absolute;	
}